@using System.Linq.Expressions
@using Synonms.CarbonBlazor.Enumerations
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web

@inherits InputBase<bool>

<CarbonBlazorFieldSet IsDoubleColumn="@IsDoubleColumn" IsReadOnly="@IsReadOnly" IsDisabled="@IsDisabled">
    @if (string.IsNullOrWhiteSpace(Legend) is false)
    {
        <legend>@Legend</legend>
    }

    <CarbonBlazorStack FlexDirection="FlexDirection.Row" AlignItems="AlignItems.Center" Gap="0.5rem">
        <input type="checkbox" class="cb-check-box" id="@Id" @bind="@CurrentValue">
        <label for="@Id" class="cb-check-box-label">@Label</label>
    </CarbonBlazorStack>
    
    <ValidationMessage For="@ValidationFor"/>

    @if (string.IsNullOrWhiteSpace(HelperText) is false)
    {
        <div id="@Id-helper-text" class="cb-check-box-helper">@HelperText</div>
    }
</CarbonBlazorFieldSet>

@code {
    [Parameter]
    [EditorRequired]
    public Expression<Func<bool>> ValidationFor { get; set; } = null!;

    [Parameter]
    public string? Id { get; set; } = string.Empty;

    [Parameter]
    public string? Legend { get; set; }

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public string? HelperText { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; } = false;

    [Parameter]
    public bool IsReadOnly { get; set; } = false;

    [Parameter]
    public bool IsDoubleColumn { get; set; } = false;

    protected override bool TryParseValueFromString(string? value, out bool result, out string? validationErrorMessage)
    {
        bool isParsed = bool.TryParse(value, out result);

        validationErrorMessage = isParsed 
            ? null 
            : $"Unable to parse '{value ?? string.Empty}' as bool.";

        return isParsed;
    }
}