<div class="@GetClass()" style="@Style">
    <CarbonBlazorIcon Type="@CarbonBlazorDifferentialIndicatorTypeMapper.ToIcon(Type)" Size="@(Size == CarbonBlazorIndicatorSize.Large ? CarbonBlazorIconSize.Large : CarbonBlazorIconSize.Default)"></CarbonBlazorIcon>
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <CarbonBlazorText Type="CarbonBlazorTextType.BodyCompact" IsExpressive="@(Size == CarbonBlazorIndicatorSize.Large)">@Label</CarbonBlazorText>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public CarbonBlazorDifferentialIndicatorType Type { get; set; }

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public CarbonBlazorIndicatorSize Size { get; set; } = CarbonBlazorIndicatorSize.Small;

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public string Style { get; set; } = string.Empty;
    
    private string GetClass()
    {
        const string baseClass = CssClasses.Prefix + "differential-indicator";
        string colourClass = CarbonBlazorDifferentialIndicatorTypeMapper.ToClass(Type);

        return CssClasses.Concatenate(baseClass, colourClass, Class);
    }
}