@using Microsoft.AspNetCore.Components.Web
@using Synonms.CarbonBlazor.Enumerations

<div class="cb-input-wrapper cb-search-wrapper @(IsExpanded ? "" : "collapsed")">
    <CarbonBlazorButton Kind="CarbonBlazorButtonKind.Input" Display="CarbonBlazorButtonDisplay.IconOnly" Icon="CarbonBlazorIcon.Search" OnClick="@OnSearchClicked"></CarbonBlazorButton>
    <div class="cb-search-content-wrapper @(IsExpanded ? "" : "collapsed")">
        <input class="cb-input cb-text-input" type="text" value="@SearchText" @onchange="@((ChangeEventArgs args) => OnSearchTextChanged(args.Value?.ToString() ?? string.Empty))" placeholder="Search" disabled="@IsDisabled"/>
        <CarbonBlazorButton Kind="CarbonBlazorButtonKind.Input" Display="CarbonBlazorButtonDisplay.IconOnly" Icon="CarbonBlazorIcon.Cancel" OnClick="@OnClearClicked"></CarbonBlazorButton>
    </div>
</div>

@code {

    [Parameter]
    public string SearchText { get; set; } = string.Empty;
    
    [Parameter]
    public EventCallback<string> SearchTextChangedCallback { get; set; }
    
    [Parameter]
    public bool IsDisabled { get; set; } = false;

    [Parameter]
    public bool IsExpanded { get; set; } = false;

    private void OnSearchTextChanged(string value)
    {
        SearchText = value;
        
        if (SearchTextChangedCallback.HasDelegate)
        {
            SearchTextChangedCallback.InvokeAsync(value);
        }
    }
    
    private void OnClearClicked()
    {
        OnSearchTextChanged(string.Empty);
        
        IsExpanded = false;
    }

    private void OnSearchClicked()
    {
        IsExpanded = true;
    }
}