<ul class="cb-sidebar-submenu @(_isExpanded ? string.Empty : "collapsed")">
    <li class="cb-sidebar-submenu" onclick="@(() => Toggle())">
        @if (Icon is not null)
        {
            <CarbonBlazorIcon Type="@(Icon.Value)"></CarbonBlazorIcon>
        }
        <span style="flex: 1">@Text</span>
        @if (_isExpanded)
        {
            <CarbonBlazorIcon Type="CarbonBlazorIconType.ChevronUp"></CarbonBlazorIcon>
        }
        else
        {
            <CarbonBlazorIcon Type="CarbonBlazorIconType.ChevronDown"></CarbonBlazorIcon>
        }
    </li>
    
    @foreach (NavigationItem item in SubMenuItems)
    {
        <li class="cb-sidebar-submenu-item">
            <a href="@item.Href">@item.Text</a>
        </li>
    }
</ul>

@code {
    private bool _isExpanded;
    
    [Parameter]
    public CarbonBlazorIconType? Icon { get; set; }
    
    [Parameter]
    [EditorRequired]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    [EditorRequired]
    public IEnumerable<NavigationItem> SubMenuItems { get; set; } = [];

    private void Toggle()
    {
        _isExpanded = !_isExpanded;
    }
}